
.ul{
    width: 50rem;
    height: 35rem;
}

.ul .li{
 list-style: none;
 gap: 2rem;
 border: 2px solid rebeccapurple;
 border-radius: 10px;
 width: 100%;
 height: 100%;
}


.div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}


.div img{
    display: block;
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    border-radius: 10px;
}