.about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aboutBox{
    width: 100%;
    padding: 1.5rem;
    background-color: rgb(75, 11, 75);
    border-radius: 10px;
    letter-spacing: 1.5;
}
.a{
    margin: 1rem;
    display: inline-block;
    padding: 0.5rem;
    background-color: blueviolet;
    border-radius: 10px;
}